#main-header 
    padding 2.5% 3% 3%
    background-color #F50057
    overflow hidden
h2#logo 
    font-family 'Permanent Marker'
    font-size 6vmax
    color #fff
    float left
#nav-toggle
    float right
    background none
    border none
    outline none
    margin-top .5%
    .material-icons
        font-size 6vmax
        color #fff

